<div class="modal">

    <div class="modal__header">
        <div>Card</div>
        <mat-icon (click)="onNoClick()">close</mat-icon>
    </div>

    <div class="modal__body">

        <div class="card-modal">

            <div class="card-modal__body__header">
                <div class="card-modal__body__header__name">
                    {{ data.name }}
                </div>
                <div class="card-modal__body__header__edit" (click)="editCard()">
                    <mat-icon>edit</mat-icon>
                    Edit card
                </div>
            </div>

            <div class="body-data">

                <div class="body-data__labels">

                    <div class="body-data__label">
                        <mat-icon>list</mat-icon>
                        List
                    </div>

                    <div class="body-data__label">
                        <mat-icon>calendar_today</mat-icon>
                        Due date
                    </div>

                    <div class="body-data__label">
                        <mat-icon>sell</mat-icon>
                        Priority
                    </div>

                </div>

                <div class="body-data__values">

                    <mat-form-field class="body-data__card-list">
                        <mat-select [(ngModel)]="data.listId" (selectionChange)="onListChange($event)">
                            <mat-option *ngFor="let list of cardListService.cardLists$ | async" [value]="list.id">
                                {{ list.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="body-data__due-date">
                        {{ data.dueDate.toString() | date: 'MMM d, yyyy' }}
                    </div>

                    <div class="body-data__priority">
                        {{ data.priority | priority }}
                    </div>
                </div>
            </div>

            <h2>Description</h2>

            <div class="body__description">
                {{data.description}}
            </div>
        </div>

    </div>

</div>