.modal__body {
    display: flex;
    flex-direction: row;
    max-height: 600px;
}

.card-modal {
    padding: 25px;
    width: 60%;
    overflow-y: auto;
    min-height: 400px;
}

.card-modal__action-history {
    background-color: #F0F0F5;
    overflow-y: auto;
    width: 40%;
    overflow-y: auto;
}

.card-modal__action-history__header {
    font-size: 18px;
    font-weight: 500;
    padding: 25px 25px 0px 25px;

}

@media(max-width: 600px) {
    .modal__body {
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
    }

    .card-modal {
        padding: 10px;
        width: 100%;
    }

    .card-modal__action-history {
        width: 100%;
    }
}

.card-modal__body__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-modal__body__header__name {
    font-size: 28px;
    font-weight: 500;
    text-wrap: wrap;
    line-height: 35px;
}

.card-modal__body__header__edit {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 20px;
    border: 1px solid #939aac;
    border-radius: 5px;
}

.card-modal__body__header__edit mat-icon {
    margin-right: 10px;
}

.body-data {
    padding-top: 20px;
    display: flex;
}

.body-data__labels {
    min-width: 150px;
}

@media(max-width: 650px) {
    .body-data__labels {
        min-width: 90px;
    }
}

.body-data__label {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    color: #818a9e;
}

.body-data__label mat-icon {
    padding-right: 15px;
}

.body-data__values {
    width: 100%;
    font-weight: 500;
}

.body-data__card-list {
    width: 100%;
}

.body-data__due-date {
    margin-top: 8px;
}

.body-data__priority {
    margin-top: 45px;
}

.card-modal__description {
    color: #5A647D;
    font-weight: 400;
}

.body__description {
    color: #5A647D;
    font-weight: 400;
}