.board-list-item {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 18px;
    font-weight: 400;
}

.board-list-item:hover {
    background-color: lightgrey;
}

.board-list__delete {
    color: #FF0000;
    width: 200px;
}

.board-list__delete mat-icon {
    color: #FF0000;
}