.card {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: relative;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.card__menu {
    min-width: 150px;
}

.card__delete {
    color: #FF0000;
    width: 200px;
}

.card__delete mat-icon {
    color: #FF0000;
}

.card__name {
    font-size: 18px;
    font-weight: 500;
}

.card__description {
    margin: 10px 0px;
    color: #5A647D;
    font-weight: 400;
}

.card__dueDate {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.card__dueDate mat-icon {
    margin-right: 10px;
}

.card__priority {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: #F0F0F5;
    max-height: 35px;
}

.card__priority__symbol {
    font-size: 36px;
    margin-bottom: 5px;
}

.card__priority__text {
    margin-left: 10px;
}

.priority-low {
    color: #c2c8da;
}

.priority-medium {
    color: #989eb4;
}

.priority-high {
    color: #4d556d;
}


.card__card-list {
    margin-top: 15px;
    width: 100%;
}