<div class="board-list">
    <div class="modal__header">
        <mat-icon (click)="hide()">close</mat-icon>
    </div>

    <div class="board__header">
        My Boards
        <mat-icon (click)="createBoard()">add</mat-icon>
    </div>

    <app-board-list-item *ngFor="let board of boardService.boards$ | async" [board]="board"
        (boardSelectedEvent)="selectBoard($event)" (updateBoardEvent)="updateBoard($event)"
        (deleteBoardEvent)="deleteBoard($event)">
    </app-board-list-item>
</div>