.card-list {
    width: 350px;
}

@media(max-width: 650px) {
    .card-list {
        width: 100%;
    }
}

.card-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #E1E1E6;
}

.card-list__header__name {
    font-size: 18px;
    font-weight: 600;
}

.card-list__header__right-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.list__menu__delete {
    color: #FF0000;
    width: 200px;
}

.list__menu__delete mat-icon {
    color: #FF0000;
}

.card-list__add {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    background-color: white;
    border: 1px dashed #E1E1E6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.card-list__add mat-icon {
    margin-right: 10px;
}

.edit-list__form {
    margin-bottom: 16px;
}

.edit-list__input {
    width: 100%;
    padding: 12px 4px;
    background-color: #F0F0F5;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
}

.edit-list__buttons {
    margin-top: 16px;
    display: flex;
    gap: 10px;
}

.edit-list__buttons button {
    width: 50%;
    padding: 14px 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: none;
    border-radius: 4px;
    font-weight: 18px;
    font-weight: 500;
}

.edit-list__create {
    background-color: #5A647D;
    color: white;
}

.edit-list__create:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.edit-list__cancel {
    background-color: white;
}

.card-list__cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}