<div class="card-list" *ngIf="cardList">

    <div *ngIf="!isFormVisible">

        <div class="card-list__header">

            <div class="card-list__header__name">
                {{cardList.name}}
            </div>

            <div class="card-list__header__right-bloc">

                {{cardList.items.length}}

                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu" class="list__menu">

                    <button mat-menu-item (click)="isFormVisible=true">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                    </button>

                    <button mat-menu-item class="list__menu__delete" (click)="deleteCardList()">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>

                </mat-menu>

            </div>

        </div>

        <button class="card-list__add" (click)="createCard()">
            <mat-icon>add</mat-icon>
            <div>Add new card</div>
        </button>

    </div>

    <form class="edit-list__form" #cardListForm="ngForm" (ngSubmit)="updateCardList()" *ngIf="isFormVisible">

        <input class="edit-list__input" type="text" name="name" [(ngModel)]="newCardList.name" required>

        <div class="edit-list__buttons">
            <button class="edit-list__create" type="submit" [disabled]="!cardListForm.form.valid">Save</button>
            <button class="edit-list__cancel" (click)="isFormVisible = !isFormVisible">Cancel</button>
        </div>

    </form>

    <div class="card-list__cards">
        <app-card *ngFor="let card of  this.cardList.items" [card]="card" />
    </div>

</div>