<div class="card-list" cdkDropList [cdkDropListData]="this.cardList" (cdkDropListDropped)="drop($event)"
    *ngIf="cardList != null">

    <div *ngIf="!isFormVisible">

        <div class="card-list__header">

            <div class="card-list__header__name">
                {{cardList.name}}
            </div>

            <div class="card-list__header__right-bloc">

                <div>
                    {{cardList.items.length}}
                </div>

                <div class="card-list__header__right-bloc__more">

                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">

                        <button mat-menu-item (click)="this.isFormVisible = !this.isFormVisible">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>

                        <button mat-menu-item (click)="this.cardService.deleteCardList(this.cardList.id)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>

                    </mat-menu>

                </div>

            </div>

        </div>

        <button class="card-list__header__add-button" (click)="this.cardService.openNewCardModal(this.cardList.id)">
            <mat-icon class="card-list__header__add-button__icon">add</mat-icon>
            <div>Add new card</div>
        </button>

    </div>

    <div *ngIf="isFormVisible" class="edit-list__form">

        <input class="edit-list__form__input" type="text" [(ngModel)]="newListName">

        <div class="edit-list__form__input__buttons">
            <button class="edit-list__form__input__buttons__create" (click)="updateList()">Save</button>
            <button class="edit-list__form__input__buttons__cancel"
                (click)="this.isFormVisible = !this.isFormVisible">Cancel</button>
        </div>

    </div>

    <div class="card-list__cards">
        <card cdkDrag *ngFor="let card of cardList?.items" [card]="card" />
    </div>

</div>