.card-list {
    width: 350px;
    min-height: 500px;
    ;
}

@media (max-width: 800px) {
    .card-list {
        width: 100%;
    }
}

.card-list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #E1E1E6;
}

.card-list__header__name {
    font-size: 18px;
    font-weight: 600;
}

.card-list__header__right-bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.card-list__header__add-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    background-color: white;
    border: 1px dashed #E1E1E6;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.card-list__header__add-button__icon {
    margin-right: 10px;
}

.edit-list__form {
    margin-bottom: 16px;
}

.edit-list__form__input {
    padding: 14px 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: #F0F0F5;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.edit-list__form__input__buttons {
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

.edit-list__form__input__buttons button {
    padding: 14px 25px;
    width: 50%;
    font-weight: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.edit-list__form__input__buttons__create {
    background-color: #5A647D;
    color: white;
}

.edit-list__form__input__buttons__cancel {
    background-color: white;
}

.card-list__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list__menu {
    min-width: 150px;
}

.list__menu__delete {
    color: #FF0000;
    width: 200px;
}

.list__menu__delete mat-icon {
    color: #FF0000;
}