.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    background-color: #F0F0F5;
    z-index: 1;
    overflow-y: auto;
}

@media (max-width: 800px) {
    .sidebar {
        width: 100%;
    }
}

.history-sidebar__header {
    padding: 25px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    background-color: #5A647D;
    color: white;
}

.history-sidebar__header mat-icon {
    cursor: pointer;
}

.history-sidebar__load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #8a8a97;
    font-size: 18px;
    font-weight: 500;
}

.history-sidebar__load-more mat-icon {
    margin-right: 10px;
}